# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Relatórios de diagnóstico (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dados de execução
pids
*.pid
*.seed
*.pid.lock

# Diretório para bibliotecas instrumentadas geradas pelo jscoverage/JSCover
lib-cov

# Diretório de cobertura usado pelo istanbul
coverage
*.lcov

# Cobertura de testes do nyc
.nyc_output

# Armazenamento intermediário do Grunt (https://gruntjs.com/creating-plugins#creating-plugins)
.grunt

# Diretório de dependências do Bower (https://bower.io/)
bower_components

# Configuração do node-waf
.lock-wscript

# Extensões binárias compiladas
build/Release

# Diretórios de dependências
node_modules/
jspm_packages/

# Módulos web do Snowpack
web_modules/

# Cache do TypeScript
*.tsbuildinfo

# Diretório opcional de cache do npm
.npm

# Cache opcional do ESLint
.eslintrc
.eslintcache

# Cache opcional do Stylelint
.stylelintcache

# Histórico opcional do REPL
.node_repl_history

# Saída do comando 'npm pack'
*.tgz

# Integridade do Yarn
.yarn-integrity

# Arquivos de variáveis de ambiente do dotenv
.env
.env.*
!.env.example

# Cache do Parcel
.cache
.parcel-cache

# Saída de compilação do Next.js
.next
out

# Saída do Nuxt.js / arquivos gerados
.nuxt
dist
.output

# Cache do Gatsby
.cache/
# Remova o comentário da linha public se o projeto utilizar Gatsby em vez de Next.js
# https://nextjs.org/blog/next-9-1
# public

# Diretório temporário do VuePress
.vuepress/dist

# Diretório temporário do VuePress v2.x
.temp

# Diretório de cache do SvelteKit
.svelte-kit/

# Arquivos de compilação do VitePress
**/.vitepress/dist

# Cache do VitePress
**/.vitepress/cache

# Diretórios de documentação e arquivos gerados pelo Docusaurus
.docusaurus

# Diretórios do Serverless
.serverless/

# Cache do FuseBox
.fusebox/

# Arquivos do DynamoDB Local
.dynamodb/

# Arquivo de porta do TernJS
.tern-port

# Versões do Visual Studio Code usadas para testar extensões
.vscode-test

# pnpm
.pnpm-store

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Arquivos do Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# Tipos gerados pelo Astro
.astro/

# Arquivos temporários e cache do Turbo Repo
.turbo

# Diretório temporário
/temp

# Arquivos package-lock.json
package-lock.json